
.m-calculator {
    z-index: 1;
    width: 350px;
    height: 400px;
    border-radius: 10px;
}

.m-calculator .m-header {
    height: 120px;
    background-color: #000;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid white;
}
.m-calculator .m-header .m-window {
    height: 15px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.m-calculator .m-header .m-window span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    cursor:pointer;
 }
.m-input {
    color: rgb(105, 105, 105);
    text-align: right;
    padding: 10px 30px;
    
}

.m-input  span {
    color: #ffffff;
}

.m-calculator .m-keys {
    color: #ffffff;
    background: black;
    height: 280px;
    border-radius: 0 0 10px 10px;
    font-size: 24px;
}

.m-calculator .m-keys .m-row {
    height: 70px;
    display: flex;
    flex-direction: row;
 }

 .m-calculator .m-keys .m-row .m-number {
    width: 75%;
    display: flex;
    color: #ffffff;
 }

 .m-number span {
    width: calc(100%/3);
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-family: AllertaStencil;
 }

 .m-calculator .m-keys .m-row .m-symbol {
    width: 25%;
    font-size: 34px;
    font-family: AllertaStencil;
 }

 .m-symbol span {
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor:pointer;
 }

 .m-calculator .m-keys .m-row .action {
    background: #000;
    border-radius: 0 0 10px 0;
 }